apiVersion: v1
kind: Service
metadata:
  labels:
    app: node-app
  name: node-app
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: node-app
